/* reset */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.header{
    width: 100%;
    height:auto;
    background-color: black;
}
.container{
    background-color: white;
    
}
/* nav layout */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.nav-logo{
    width: 300px;
}
/* menu */
.list-link{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}
.list-link li{
    margin-right: 20px;
}

.link{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
/*menu con*/
/* dropdown */
.dropdown{
    position: relative;
}

/* khung mega */
.mega-menu{
    position: absolute;
    top: 25px;
    left: 0;
    background:#FEFEFB;
    padding: 20px;
    border-radius:10px;
    
    display:none;        /* ẩn */
    gap: 15px;               /* khoảng cột */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* độ bống :ngan|dọc|dộ mờ|nàu*/
}

/* hover hiện */
.dropdown:hover .mega-menu{
    display: flex;        /* 🔥 flex để chia cột */
}

/* mỗi cột */
.column{
    min-width: 120px;
}

/* tiêu đề */
.column-link{
    margin-bottom: 10px;
    color: blue;
    font-weight: bold;
    text-decoration: none;
}
/* list */
.column ul{
    list-style: none;
    padding-left: 10px;
}
.column li a{
    text-decoration: none;
    color:black;
}

/*-------------tim kiem va dang ky, nhap */
.search-login{
    display: flex;
    gap: 10px;
    width: 200px;
    justify-content: end;
}

/* Nút tròn */
.button-seach,
.button-login,
.button-cart{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #f2f2f2;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    padding: 0;          /* QUAN TRỌNG */
}

.button-login,
.button-seach,
.button-cart{
    border: 0;
}
.button-seach i,
.button-login i,
.button-cart i{
    font-size: 14px;
}
/* ===== Tìm kiếm ===== */

.menu-search{
    display:flex;
    align-items:center;
    position:relative;
}

/* Nút kính lúp */
.button-search{
    width:40px;
    height:40px;
    border-radius:50%;
    border:none;
    cursor:pointer;
}

/* Ô search ban đầu ẩn */
.input-search{
    position:absolute;
    right:45px;     /* nằm bên trái nút */
    width:0;
    opacity:0;
    padding:8px;
    border:1px solid #ccc;
    border-radius:20px;
    outline:none;
    transition:0.3s;
}

/* Hover hiện ra */
.menu-search:hover .input-search{
    width:180px;
    opacity:1;
}


/*dang ky , nhap*/
.menu-login{
    position: relative;
    display: inline-block;
}

/* Ẩn menu */
.dropdown-menu-login{
    position: absolute;
    top: 40px;
    right: 0;
    background: white;
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* độ bống :ngan|dọc|dộ mờ|nàu*/
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;

    display: none;
}

/* Hover hiện */
.menu-login:hover .dropdown-menu-login{
    display: block;
}

/* Style */
.dropdown-menu-login li{
    padding: 10px;
}

.dropdown-menu-login li:hover{
    background: #f2f2f2;
}
/*menu*/
